# Run     : accelerate launch --config_file configs/deepspeed_zero3.yaml multi-gpu/parallelism_accelerate.py

compute_environment: LOCAL_MACHINE
distributed_type: DEEPSPEED
num_processes: 4
num_machines: 1
machine_rank: 0
main_training_function: main
downcast_bf16: 'no'
enable_cpu_affinity: false
gpu_ids: all
same_network: true
use_cpu: false

deepspeed_config:
  deepspeed_config_file: configs/ds_config.json  
  zero3_init_flag: true   # shard weights at model.__init__ via deepspeed.zero.Init (required for ZeRO-3)

